* {
  margin: 0;
}

.secondary-section,
.main-section,
.sub-section {
  width: 100%;
}

.secondary-section {
  height: 1200px;
  background-color: #ccc;
  box-shadow: inset 0 0 20px #000;
}

.main-section {
    position: sticky;
    top: 0;
}

.sub-section {
  height: 100px;
  background-color: #ff52d4;
  font-size: 100px;

}

.second-stick .sub-section{
    background-color: #f3f03b;
}
